# Path config
DATA_DIR="./data"

# MongoDB Configuration
MONGODB_URI="mongodb://localhost:27017/"
MONGODB_DB_NAME="glamira"
MONGODB_RAW_DATA_COL="summary"
MONGODB_IP2LOCATION_COL="ip_location"
MONGODB_PRODUCT_EVENTS='["view_product_detail", "select_product_option", "select_product_option_quality", "add_to_cart_action"]'

# IP Filter & Batch Settings
PID_FILTER_DIR_NAME="pid_filter"
PID_FILTER_BATCH_SIZE=500
MONGO_BATCH_SIZE=500000

# Web Crawler Configuration
PRODUCT_CRAWLER_DIR_NAME="product_info"
PRODUCT_CRAWLER_BATCH_SIZE=500
PRODUCT_CRAWLER_SEMAPHORE=10
PRODUCT_CRAWLER_TIMEOUT=15
PRODUCT_CRAWLER_MAX_RETRIES=3
PRODUCT_CRAWLER_HEADERS='{"User-Agent": "Mozilla/5.0", "Accept-Language": "en-US,en;q=0.9"}'

# IP2Location Configuration
IP2LOCATION_DIR_NAME="ip2location"
IP2LOCATION_BATCH_SIZE=100000
IP2LOCATION_DB_FILE="./IP2LOCATION-LITE-DB11.BIN"

# Google Cloud Storage (GCS)
GCS_BUCKET_NAME="your-gcs-bucket-name"
GCS_DESTINATION_FOLDER="product_info"
GCS_IP2LOCATION_FOLDER="ip2location"
GCS_SUMMARY_FOLDER="summary_data"

# Google BigQuery (BQ)
BQ_PROJECT_ID="your-gcp-project-id"
BQ_DATASET_ID="glamira_project"
BQ_TABLE_SUMMARY="summary"
BQ_TABLE_IP2LOCATION="ip2location"
BQ_TABLE_PRODUCT_INFO="product_info"
